dataset: 'Kitti'

# dataset info
split: 'training'
dataset_root: "./data/kitti_data/tracking"
detections_root: "./data/kitti_data/tracking/dets/casa"
save_path: './mot_results/kitti'
tracking_seqs: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
tracking_type: Car
# ----------------threshold------------
input_score: 0
init_score: 0.5
update_score: 0

# --------------age threshold-------------
miss_age: 15
min_hits: 4

# --------------- matching threshold -------------------
dimensions: [0, 1, 2]   # x, y, z, l, w, h
asso: "js_dis"   #  kl_dis js_dis
matching_mechanism: "cov_guide"   # cov_guide common
distance_threshold: {'Car': 13}
covariance_id: 1




